@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --HEADER-BG: #333;
  --HEADER-COLOR: whitesmoke;
  --HOME-BG: burlywood;
  --ADMIN-BG: peachpuff;
}

body { 
  min-height: 100vh; 
  font-family: 'Poppins', sans-serif;
}

#root, main {
  min-height: 100vh;
}

main {
  display: grid;
  place-content: center;
  padding: 1rem;
}

header {
  background-color: #041c4b;
  color: var(--HEADER-COLOR);
  position: sticky;
  top: 0;
  padding: 1rem;
  z-index: 1;
}

.home {
  background-color: #c9d3d0;
  text-align: center;
}

.admin {
  background-color: #d9e4e6;
}

.admin p {
  margin-bottom: 1rem;
}
